[build]
  command = "npm run build"
  functions = "functions"
  publish = "public"

[build.environment]
  NODE_VERSION = "22"

[dev]
  command = "npm run dev"
  targetPort = 8080

[functions]
  directory = "functions"

[[plugins]]
  package = "@netlify/plugin-functions-install-core"

[[redirects]]
  from = "/crxblob/*"
  to = "https://clients2.googleusercontent.com/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200
